@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  text-align: left;
  list-style-type: none;
  border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

html {

}

body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* 上の部分は気にせずここから書く */
.box{
  display: flex;
  justify-content: center;
}

.box1{
  background-color: red;
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1-1{
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px #000000;
}

.item1-2{
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px #000000;
}

.item1-3{
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px #000000;
}

.box2{
  background-color: blue;
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: flex-end;
}

.item2-1{
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px #000000;
}

.item2-2{
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px #000000;
}

.item2-3{
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px #000000;
}

.box3{
  background-color: green;
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  
}

.item3-1{
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px #000000;
}

.item3-2{
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px #000000;
}

.item3-3{
  background-color: white;
  width: 50px;
  height: 50px;
  border: solid 1px #000000;
}


